<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" v-for="(artwork, index) in artworks" :key="index">
                <div v-if="artwork.original_title" class="card">
                    <img v-if="artwork.poster_path" class="card-img-top"
                         :src="'https://image.tmdb.org/t/p/w500' + artwork.poster_path" alt="Card image cap">
                    <div class="card-body">
                        {{artwork.original_title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Catalogue",
        methods: {
            get_from_tmdb: function () {
                if (this.$store.state.user.user.roleType === 'copyrighter') {
                    let url_tmdb = this.api_tmdb + '/person/' + this.$store.state.user.user.idPeople + '/combined_credits' + this.api_tmdb_token;

                    this.axios.get(url_tmdb).then(response => {
                        this.artworks = response.data.cast;
                    }).catch(error => {
                        console.error(error);
                    });
                }
            }
        },
        data() {
            return {
                artworks: null
            }
        },
        created() {
            this.get_from_tmdb();
        }
    }
</script>

<style scoped>

</style>
