<template>
    <div>
        <header class="bg-primary text-white p-5">
            <div class="container text-center">
                <h1>Welcome to T-MAJ Retail D Project</h1>
                <p class="lead">An app that ease the management of artist's rights</p>
            </div>
        </header>

        <section id="about">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h2>About this app</h2>
                        <p class="lead">This is a great place to manage artist's rights.</p>
                        <ul>
                            <li>CSA managing transactions</li>
                            <li>Artists checking their artworks and their rights</li>
                            <li>Streamers demanding rights of artworks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>
