<template>
    <div class="sidebar">
        <div v-if="$store.state.user" class="brand">
            {{$store.state.user.user.username}} - {{$store.state.user.user.roleType}}
        </div>
        <div class="sidebar-item" @click="$router.push({name: 'home'}, () => {})">
            Home
        </div>
        <div v-if="!$store.state.user" class="sidebar-item" @click="$router.push({name: 'signin'}, () => {})">
            Log in
        </div>
        <div v-if="!$store.state.user" class="sidebar-item" @click="$router.push({name: 'signup'}, () => {})">
            Register
        </div>
        <div v-if="$store.state.user && $store.state.user.user.roleType !== 'streamer'" class="sidebar-item" @click="$router.push({name: 'transactions'}, () => {})">
            Transactions
        </div>
        <div v-if="$store.state.user && $store.state.user.user.roleType !== 'admin'" class="sidebar-item" @click="$router.push({name: 'catalogue'}, () => {})">
            Catalog
        </div>
        <div v-if="$store.state.user && $store.state.user.user.roleType === 'streamer'" class="add-transaction">
            <button class="btn" @click="$router.push({name: 'transaction-form'}, () => {})">+</button>
        </div>
        <div v-if="$store.state.user" class="sidebar-item logout" @click="logout">
            Log out
        </div>
    </div>
</template>

<script>
    export default {
        name: "Sidebar",
        methods: {
            logout: function () {
                localStorage.removeItem('user');
                this.$store.commit('change', null);
                if (this.$router.name !== 'home') {
                    this.$router.push({name: 'home'}, () => {});
                }
            }
        }
    }
</script>

<style scoped>
    .brand {
        text-align: center;
        padding: 20px;
        user-select: none;
        border-bottom: 1px solid #cccccc;
    }
    .sidebar {
        position: fixed;
        height: 100vh;
        width: 15vw;
        top: 0;
        left: 0;
        background-color: white;
        box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
        z-index: 9999;
    }
    .sidebar-item {
        text-align: center;
        padding: 20px;
        user-select: none;
        cursor: pointer;
        border-bottom: 1px solid #cccccc;
    }
    .sidebar-item:hover {
        background-color: #cccccc;
    }

    .sidebar .logout {
        position: fixed;
        color: #be3535;
        width: 15vw;
        bottom: 0;
    }

    .add-transaction {
        text-align: center;
        padding: 20px;
    }

    .add-transaction .btn {
        background-color: #3c3cb3;
        color: #cccccc;
        border-radius: 50%;
    }
</style>
