<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Artwork</th>
            <th scope="col">Streamer</th>
            <th scope="col">Artist</th>
            <th scope="col">Price</th>
            <th scope="col">Transaction number</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in items" :key="index">
            <td>{{item.artwork}}</td>
            <td>{{item.user.username}}</td>
            <td>{{item.artwork}}</td>
            <td>{{item.price}}</td>
            <td>{{item.id}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "Transaction",
        methods: {},
        data() {
            return {
                items: []
            }
        },
        mounted() {
            this.axios
                .get(this.api_url + '/transactions', {
                    headers: {Authorization: "Bearer " + this.$store.state.user.jwt}
                })
                .then(response => (this.items = response.data))
        }
    }
</script>

<style scoped>

</style>
