<template>
    <div class="p-5">
        <div class="form-group">
            <label for="artwork">Artwork</label>
            <input type="text" v-model="artwork" class="form-control" id="artwork">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="number" v-model="duration" class="form-control" id="duration">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" v-model="price" class="form-control" id="price">
        </div>
        <div class="form-group">
            <label for="audience">Audience</label>
            <input type="number" v-model="audience" class="form-control" id="audience">
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <input type="text" v-model="message" class="form-control" id="message">
        </div>
        <div>
            <button class="btn btn-primary" @click="transaction">Submit</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TransactionForm",
        methods: {
            transaction: function () {
                let info = {
                    "user": this.$store.state.user.user.id,
                    "artwork": {"name": this.artwork},
                    "price": this.price,
                    "audience": this.audience,
                    "message": this.message,
                    "duration": this.duration
                };
                this.axios.post(this.api_url + '/transactions', info, {
                    headers: {Authorization: "Bearer " + this.$store.state.user.jwt}
                }).then(response => {
                    console.log(response);
                    this.$swal('Demand send !');
                    this.artwork = '';
                    this.duration = 0;
                    this.price = 0;
                    this.audience = 0;
                    this.message = '';
                }).catch(error => {
                    console.error(error);
                });
            }
        },
        data() {
            return {
                artwork: '',
                duration: 0,
                price: 0,
                audience: 0,
                message: ''
            }
        }
    }
</script>

<style scoped>

</style>
