<template>
    <div>
        <Sidebar/>
        <div class="content">
            <router-view/>
        </div>
    </div>
</template>

<script>
    import Sidebar from "./components/Sidebar";

    export default {
        name: 'App',
        components: {Sidebar}
    }
</script>

<style>
    .content {
        margin-left: 15vw;
    }
</style>
