<template>
    <div class="container p-5">
        <div class="row">
            <div class="col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" v-model="roleType" value="copyrighter" id="radio1"
                           checked>
                    <label class="form-check-label" for="radio1">
                        Register as copyrighter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" v-model="roleType" value="streamer" id="radio2">
                    <label class="form-check-label" for="radio2">
                        Register as streamer
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" v-model="username" class="form-control" id="username" aria-describedby="username"
                           placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" v-model="email" class="form-control" id="email" aria-describedby="email"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" v-model="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="r-password">Repeat password</label>
                    <input type="password" v-model="r_password" class="form-control" id="r-password"
                           placeholder="Repeat password">
                </div>
                <div v-if="roleType === 'copyrighter'" class="form-group">
                    <label for="people">Copyrighter complete name</label>
                    <input type="text" v-model="people" class="form-control" id="people"
                           placeholder="Enter copyrighter's complete name">
                </div>

                <div v-if="roleType === 'streamer'" class="form-group">
                    <label for="siret">Siret</label>
                    <input type="text" v-model="siret" class="form-control" id="siret"
                           placeholder="Enter siret's company">
                </div>
                <div>
                    <button class="btn btn-primary" v-on:click="register">Submit</button>
                    <router-link class="ml-3" :to="{name: 'signin'}">Go connect</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SignUp",
        methods: {
            register: async function () {
                if (this.password === this.r_password && this.username && this.email) {
                    let info = {
                        roleType: this.roleType,
                        username: this.username,
                        email: this.email,
                        password: this.password
                    };
                    if (this.roleType === 'streamer') {
                        Object.assign(info, {
                            siret: this.siret
                        });
                    }
                    if (this.roleType === 'copyrighter') {
                        let url = this.api_tmdb + '/search/person' + this.api_tmdb_token + '&query=' + encodeURI(this.people);
                        let idPeopleStock = await this.axios.get(url).then(response => {
                            return (response.data.results[0].id);
                        });
                        Object.assign(info, {
                            idPeople: idPeopleStock
                        });
                    }
                    this.axios.post(this.api_url + '/auth/local/register', info).then(response => {
                        console.log(response);
                        this.$router.push({name: 'signin'})
                    }).catch(error => {
                        console.error(error);
                    });
                } else {
                    this.$swal('Please fill all and check if passwords are the same');
                }
            }
        },
        data() {
            return {
                roleType: 'copyrighter',
                username: '',
                email: '',
                password: '',
                r_password: '',
                people: '',
                siret: ''
            };
        }
    }
</script>

<style scoped>

</style>
