<template>
    <div class="container p-5">
        <div class="row">
            <div class="col-6">
                Connexion
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" v-model="email" class="form-control" id="email" aria-describedby="email"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" v-model="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div>
                    <button class="btn btn-primary" v-on:click="connection">Submit</button>
                    <router-link class="ml-3" :to="{name: 'signup'}">Go register</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SignIn",
        methods: {
            connection: function () {
                if (this.email && this.password) {
                    let info = {
                        "identifier": this.email,
                        "password": this.password
                    }
                    console.log(info);
                    this.axios.post(this.api_url + '/auth/local', info).then(response => {
                        localStorage.setItem('user', JSON.stringify(response.data));
                        this.$store.commit('change', JSON.parse(localStorage.getItem('user')));
                        this.$router.push({name: 'home'});
                    }).catch(error => {
                        console.error(error);
                        this.$swal('Incorrect identifier or password');
                    });
                } else {
                    this.$swal('Fill email and password please');
                }
            }
        },
        data() {
            return {
                email: '',
                password: '',
            };
        }
    }
</script>

<style scoped>

</style>
